:root {
    --primary: #fcf9f9;
    --secondary: #26319a;
  }
  
  #btRegister {
    background-color: var(--secondary);
    color:var(--primary);
    padding: 8px 20px;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    width: 130px;
  }
  
  .btn--primary {
    background-color: "#26319a";
    color: "#fcf9f9";
    border: 2px solid var(--secondary);
  }
  
  .btn--outline {
    background-color:"#26319a";
    color: #fcf9f9;
    padding: 8px 20px;
    border: 1.5px solid var(--secondary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: "#fcf9f9";
    color: #fcf9f9;
    transition: 250ms;
    border: #26319a;
  }